@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  color: #656565;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3;
}
a {
  text-decoration: underline;
  color: white;
}
ul {
  list-style-type: none;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-weight: 600;
}

.buy-now {
  background-color: #3baa72;
  border: none;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  white-space: nowrap;
  cursor: pointer;
  transition: 100ms;
}

.buy-now:hover {
  background-color: #73dba7;
}

.container {
  font-family: "Poppins", sans-serif;
  min-width: 32rem;
}

.header {
  background-color: #3baa72;
  display: grid;
  justify-content: center;
  min-width: 32rem;
}

.footer {
  background-color: #3baa72;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 32rem;
  height: 6rem;
  margin-top: 3rem;
  color: white;
}

.logo {
  width: 10rem;
  filter: invert(100%);
}

.logo-container {
  justify-self: center;
}

.tagline {
  color: white;
}

.dropdown {
  margin-left: 0.5rem;
}

.selections {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 25rem;
  justify-self: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.products-container {
  display: grid;
  justify-content: center;
  margin: auto;
  width: 90vw;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 2rem;
}

.product {
  margin: 0;
  background-color: white;
  filter: drop-shadow(9px 11px 7px #e0e0e0);
  border-radius: 0.4rem;
  padding: 1.5rem;
  min-width: 32rem;
}

.image-price {
  display: grid;
  background-color: #383838;
}

.product-title {
  color: #3baa72;
  margin-bottom: 0.3rem;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1rem;
}

.product-details {
  margin: 0 1rem;
}

.details-item {
  margin-bottom: 1rem;
}

.price {
  font-size: 3rem;
  justify-self: center;
  color: white;
}

.icon {
  width: 1rem;
}

@media only screen and (min-width: 66.6rem) {
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 99.5rem) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
